@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import './styles/tooltips';
@import './styles/header';
@import './styles/content';
@import './styles/footer';
* {
    box-sizing: border-box;
}

html {
    font-size: 13px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', Arial, serif;
    background-color: #fafafa;
    font-size: 13px;
    color: #595959;
    text-shadow: 0 1px 0 #fff;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.customers {
    border-collapse: collapse;
    width: 100%;
    margin: 10px 0;
    box-shadow: 2px 2px 15px #ccc;
}

.customers td,
.customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

.customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

.customers tr:hover {
    background-color: #ddd;
}

.customers th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: #337ab7;
    color: white;
    font-weight: 100;
    text-shadow: none;
}

.label__lesson {
    border: 1px solid transparent;
    border-color: #205081;
    background-color: #205081;
    border-radius: 3px;
    padding: 0 5px;
    color: #fff;
    text-shadow: none;
    display: inline-block;
    font-size: 12px;
}

.label__homework {
    border: 1px solid transparent;
    border-color: #2d8120;
    background-color: #2d8120;
    border-radius: 3px;
    padding: 0 5px;
    color: #fff;
    text-shadow: none;
    display: inline-block;
    font-size: 12px;
}

.tag__active {
    border: 1px solid transparent;
    border-color: orangered;
    background-color: orangered;
    border-radius: 3px;
    padding: 0 5px;
    color: #fff;
    text-shadow: none;
    display: inline-block;
    font-size: 12px;
}

.tag__inactive {
    border: 1px solid transparent;
    border-color: rgb(100, 100, 100);
    background-color: rgb(100, 100, 100);
    border-radius: 3px;
    padding: 0 5px;
    color: #fff;
    text-shadow: none;
    display: inline-block;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #205081;
}

a:hover {
    text-decoration: underline;
    color: #205081;
}

.project__title {
    font-size: 24px;
}

.project__description {
    font-size: 14px;
    font-style: italic;
}